<header class="header">
  <a href="/" class="header__logo">Node JS</a>
  <nav class="header__nav">
    <ul>
      <li><a href="/" class=""></a>Home</li>
      <li><a href="/about" class="">About</a></li>
      <li><a href="/contact" class="">Contact</a></li>
    </ul>
  </nav>

  <div class="header__button">
    <button class="searchBtn" aria-expanded="false">
      Search
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="11" cy="11" r="8" />
        <line x1="21" y1="21" x2="16.65" y2="16.65" />
      </svg>
    </button>
  </div>
</header>
