<div class="author">
  <h1 class="author_heading">Hi, I am Ricky.</h1>
  <p class="author__body">Web dev and Sys Admin</p>
  <img src="/img/hero-image.webp" alt="" class="hero-img" />

  <section class="articles">
    <h2 class="articles__heading">What im working on</h2>

    <ul class="article-ul">
      <li>
        <a href="#">
          <span>Post Title</span>
          <span class="article-list__date">Date</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Post Title</span>
          <span class="article-list__date">Date</span>
        </a>
      </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
  </section>
</div>
